﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<airport_finder.Models.Airinfo>




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <style>
        body {
            background-image: url('../../images/bg2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-blue">
                <tr>
                    <th> S.No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.IataCode)



                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirportName)



                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>





                    <th></th>
                </tr>
            </thead>
            <tbody id="mytable">
                @foreach (var item in Model)
                {



                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IataCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AirportName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>




                    </tr>
                }
            </tbody>
        </table>
    </div>



    <script>
        var table = document.getElementById("mytable");
        var rows = table.getElementsByTagName("tr");



        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var idcell = document.createElement("td");
            idcell.textContent = i + 1;
            row.insertBefore(idcell, row.firstChild);




        }</script>


}
